* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    font-family: montserrat, sans-serif;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
    font-family: unna, sans-serif;
    font-style: italic; 
    font-weight: 100;
}

h3 {
    font-size: 24px; 
}

p {
    font-size: 16px;
    font-weight: 200;
    color: #000000;
}

.nav {
    width: 100%;
    height: 90px;
}

.navWrapper {
    width: 60%;
    margin: auto;
}

.navWrapper a {
    float: left;
    margin-top: 3em;
    text-decoration: none;
    line-height: 2px; 
}

.logo p {
    font-size: 36px;
    color: #000000;
    font-weight: 200;
}

.right {
    float: right;
}

.about p, .blog p, .shop p {
    font-size: 16px; 
    margin-right: 40px;
    font-weight: 200;
}

.contact p {
    font-size: 16px;
    font-weight: 200; 
}

.imageSection {
    width: 100%;
}

.imageSectionWrapper {
    width: 60%;
    margin: auto;
    height: 400px;
    display: block;
    background-image: url(images/bamboo-bamboo-whisk-board-461428.jpg);
    background-position: 0px -310px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.imageText {
    float: right;
}

.imageSectionWrapper h1 {
    font-family: unna, sans-serif; 
    margin-top: 120px;
    margin-right: 120px;
    text-shadow: 
    1px   0  0   #5e4640,
   -1px   0  0   #5e4640, 
    0    1px 0   #5e4640, 
    0   -1px 0   #5e4640, 
    1px  1px 0   #5e4640, 
   -1px -1px 0   #5e4640, 
    1px -1px 0   #5e4640, 
   -1px  1px 0   #5e4640,
    1px  1px 5px #5e4640;
    color: #ffffff;
}

.imageInfo p {
    font-size: 14px;
    font-weight: 300;
    font-family: montserrat, sans-serif;
    font-style: italic;
    text-shadow: 
    1px   0  0   #5e4640,
   -1px   0  0   #5e4640, 
    0    1px 0   #5e4640, 
    0   -1px 0   #5e4640, 
    1px  1px 0   #5e4640, 
   -1px -1px 0   #5e4640, 
    1px -1px 0   #5e4640, 
   -1px  1px 0   #5e4640,
    1px  1px 5px #5e4640;
    margin-top: 15px;
    color: #ffffff;
}

.btn {
    border: solid;
    border-color: #ffffff;
    text-shadow: 
    1px   0  0   #5e4640,
   -1px   0  0   #5e4640, 
    0    1px 0   #5e4640, 
    0   -1px 0   #5e4640, 
    1px  1px 0   #5e4640, 
   -1px -1px 0   #5e4640, 
    1px -1px 0   #5e4640, 
   -1px  1px 0   #5e4640,
    1px  1px 5px #5e4640;
    border-width: 2px; 
    background-color: inherit;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 100;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
    margin-left: 88px;
}

.success {
    color: #ffffff;
  }
  
.success:hover {
    background-color: #ffffff;
    color: #ffffff;
}

.blogSection {
    width: 100%;
}

.blogSectionWrapper {
    width: 60%;
    margin: auto;
}

.blogTitle h3 {
    font-family: unna, sans-serif;
    font-style: italic; 
    margin-top: 30px; 
    font-weight: 100;
}

h3:after {
    background-color: #cfcfcf;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 94%;
}

h3:after {
    left: 0.5em;
    margin-right: -50%;
}

.firstBlogs {
    width: 100%;
}

.firstBlogsWrapper {
    width: 60%;
    margin: auto;
}

.firstBlogsContent {
    text-align: justify;
    font-size: 0; 
}

.firstBlogsContent img {
    width: 30%;
    margin: 30px 58px 20px 0px; 
    display: inline-block;
    position: relative;
}

.blogNews {
    width: 100%;
}

.blogNewsWrapper {
    width: 60%;
    margin: auto;
}

.blogNewsContent {
    border: 1px solid #999999;
    box-sizing: border-box;
    margin-top: -279px; 
    margin-left: 62px;
    width: 30%;
    display: inline-block;
}

.blogNewsContent p {
    display: inline-block;
    margin: 15px 0px 15px 18px;
}

.blogNewsContent h2 {
    display: inline-block;
    margin: 0px 0px 15px 18px; 
}

input {
    display: inline-block;
}

input[type=text] {
    width: 304px;
    padding: 7px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 0px 19px 20px 18px;
  }

button[type=submit] {
    width: 304px;
    background-color: #ffffff; 
    color: #a37b40;
    padding: 10px 0px;
    margin: -15px 20px 22px 0px;
    border-color: #a37b40;
    cursor: pointer;
    float: right;
    border: 1px solid;
  }

button[type=submit]:hover {
    background-color: #a37b40;
    color: #ffffff; 
  }

.blogContent {
    width: 100%;
}

.blogContentWrapper {
    width: 60%;
    margin: auto;
}

.blogPictures {
    text-align: justify;
    font-size: 0; 
}

.blogPictures img {
    width: 30%;
    margin: 30px 0px 20px 0px; 
}

.stretch {
    width: 100%;
    display: inline-block;
}

.blogText {
    font-family: montserrat, sans-serif;
    font-size: 15px;
    text-align: left;
}

.blogTextLeft {
    float: left;
    width: 340px;
}
  
.blogTextRight {
    float: left; /*Text is still to the right */
    margin-left: 57px;
    width: 340px;
}

.blogTextFarRight {
    float: right; 
    margin-right: 4px; 
    width: 340px;
}

.footer {
    height: 110px;
    width: 100%;
    line-height: 110px;
}

.footerWrapper {
    width: 60%;
    margin: auto;
}

.footerContent p {
    float: left;
}

.footerSocial img {
    margin: 45px 0px 0px 25px;
    float: right;
}